%p#notice= notice

%p
  %b Title:
  = @note.title
%p
  %b Description:
  = @note.description

%p= link_to I18n.t('.link'), new_task_path(note_id: @note)

= link_to I18n.t('.edit'), edit_note_path(@note)
\|
= link_to I18n.t('.back'), notes_path
